[*.cs]
# Suppress
#dotnet_diagnostic.CA1056.severity = none
#dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA2007.severity = none

[/Data/Migrations/**.cs]
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.IDE0050.severity = none